<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mivecindario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Modelos.MyFirabaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioUsuario"></activity>
        <activity android:name=".MapaVecindario" />
        <activity android:name=".Eventos" />
        <activity android:name=".Hogares" />
        <activity android:name=".Vecindarios" />
        <activity android:name=".Inicio" />
        <activity
            android:name=".IniciarSesion"
            android:label="@string/title_activity_iniciar_sesion"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Usuarios" />
    </application>

</manifest>