<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mivecindario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Modelos.MyFirabaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Contacto"></activity>
        <activity android:name=".datosUsuario" />
        <activity android:name=".editarHogar" />
        <activity android:name=".verVecindario" />
        <activity android:name=".ingresarEvento" />
        <activity android:name=".Administrador.ingresarMapaVecindario" />
        <activity android:name=".Administrador.agregarHogares" />
        <activity android:name=".Administrador.ingresarVecindarios" />
        <activity android:name=".Administrador.InicioAdmin" />
        <activity
            android:name=".IniciarSesion"
            android:label="@string/title_activity_iniciar_sesion"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Administrador.ingresarUsuarios" />
    </application>

</manifest>